logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

/.target/
/test/
/.cache
/.DS_Store
/app/.DS_Store
/conf/my-application.conf
.DS_Store
/public/.DS_Store
/public/images/.DS_Store
/public/images/content/.DS_Store