logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

/.DS_Store
.DS_Store
/.gitignore
.gitignore
/project-code/.settings/org.scala-ide.sdt.core.prefs
/project-code/.classpath