
<div class="row-fluid">

	<div id="content">
		@helper.form(action = core.controllers.authentication.routes.AccountController.createAdminPassword(), 'class -> "form-horizontal") {
		<div class="row">
			<div class="offset2 span5">
				<h1>Admin password</h1>
				<p>Please enter a password for the administrator</p>

				<div class="control-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input type="password" id="password1" name="password" placeholder="" value="">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label"></label>
					<div class="controls">
						<button class="btn">Confirm</button>
					</div>
				</div>

			</div>
		</div>
		}
	</div>
</div>