@(error: Boolean)
<div class="row-fluid">

	<div id="content">
		@helper.form(action = core.controllers.authentication.routes.AccountController.createAdminPassword(), 'class -> "form-horizontal") {
		<div class="row">
			<div class="offset2 span8">
				@if(error) {
					<div class="alert">You must enter the same password twice to create the user.</div>
				}
				<h1>No Users Found In Database</h1>
				<p>We will automatically create the user 'admin' with root privileges.</p>
				<p>Please provide a new password for the user 'admin' and repeat it to confirm.</p>
				<p>After this you can login with 'admin' and your new password.</p>

				<div class="control-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<input type="password" id="password1" name="password1" placeholder="" value="">
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="password">Confirm password</label>
					<div class="controls">
						<input type="password" id="password2" name="password2" placeholder="" value="">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label"></label>
					<div class="controls">
						<button class="btn">Confirm</button>
					</div>
				</div>

			</div>
		</div>
		}
	</div>
</div>